.BuildControls {
  width: 100%;
  height: 100%;
  background: #506a7e;
  display: flex;
  flex-flow: column;
  padding: 10px 0;
  align-items: center;
  color: white;
}
.BuildControls p {
  margin: 0.5rem;
}

.OrderButton {
  background-color: #4ba082;
  outline: none;
  cursor: pointer;
  border: none;
  color: white;
  font-family: inherit;
  font-size: 1em;
  padding: 10px 25px;
  margin-top: 1rem;
}

.OrderButton:hover,
.OrderButton:active {
  background-color: #428f74;
}

.OrderButton:disabled {
  background-color: #c7c6c6;
  cursor: not-allowed;
  color: #888888;
}

.OrderButton:not(:disabled) {
  animation: enable 0.3s linear;
}

@keyframes enable {
  0% {
    transform: scale(1);
  }
  60% {
    transform: scale(1.1);
  }
  100% {
    transform: scale(1);
  }
}

@media (min-width: 730px) {
  .BuildControls {
    justify-content: center;
    height: 70%;
    width: 50%;
    padding-bottom: 4rem;
  }
  .OrderButton {
    padding: 15px 30px;
    font-size: 1.2em;

  }
}
