.BurgerWrapper {
  width: 100vh;
  height: 100vh;
  /* max-width: 50px; */
  /* max-height: 50px; */
  /* display: flex; */
  /* overflow: scroll; */
  margin: 0 auto;
}

.Burger {
  width: 100%;
  height: 100%;
  text-align: center;
  /* font-weight: bold; */
  font-size: 1.2rem;
  /* margin-bottom: auto; */
  position: relative;
  /* top: -40%; */

  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
}

.BurgerWrapper::-webkit-scrollbar,
.Burger::-webkit-scrollbar {
  display: none;
}

/* Hide scrollbar for IE, Edge and Firefox */
.BurgerWrapper .Burger {
  -ms-overflow-style: none; /* IE and Edge */
  scrollbar-width: none; /* Firefox */
}

.Burger p {
  color: #323e44;
}

/* @media (max-width: 730px) {
  .BurgerWrapperInBuilder {
    height: 50%;
  }
  .BurgerInBuilder {
    height: 100%;
  }
} */
