.BurgerBuilder {
  display: flex;
  padding-top: 1rem;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  height: 100%;
}

.BurgerWrapper {
  width: 40vh;
  height: 40vh;
}

@media (min-width: 730px) {
  .BurgerBuilder {
    padding-top: 10rem;
    flex-direction: row;
    align-items: flex-start;
    justify-content: flex-end;
  }
  .BurgerWrapper {
    width: 500px;
    height: 500px;
    padding: 1rem;
  }
}
