.BurgerBuilder {
  display: flex;
  padding-top: 4.5rem;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  height: 100vh;
}

.BurgerWrapper {
  /* width: 100vh; */
  /* height: 100vh; */
  width: 40vh;
  height: 40vh;
  /* display: flex; */
  /* overflow: scroll; */
  margin: 0 auto;
}

@media (min-width: 730px) {
  .BurgerBuilder {
    flex-direction: row-reverse;
    align-items: flex-start;
    justify-content: flex-end;
  }
  .BurgerWrapper {
    width: 500px;
    height: 500px;
    padding: 1rem;

  }
}
