.BuildControl {
  display: flex;
  margin: 5px 0;

  font-size: 0.9rem;
}

.BuildControl button {
  display: block;
  font: inherit;
  /* padding: 5px; */
  margin: 0 5px;
  width: 65px;
  border: none;
  cursor: pointer;
  outline: none;
  border-radius: 3px;
  color: white;
}

.BuildControl button:disabled {
  background-color: #4c4d4e;
  cursor: default;
}

.BuildControl button:hover:disabled {
  cursor: not-allowed;
  background-color: #4c4d4e;
}

.Label {
  padding: 10px;
  font-weight: bold;
  width: 80px;
}

.BuildControl .Less {
  background-color: #193135;
}

.BuildControl .More {
  background-color: #90aeb6;
}

.BuildControl .Less:hover,
.BuildControl .Less:active {
  background-color: #0b191b;
}

.BuildControl .More:hover,
.BuildControl .More:active {
  background-color: #698a92;
}

@media (min-width: 730px) {
  .BuildControl {
    font-size: 1rem;
  }
  .BuildControl button {
    padding: 5px;
    margin: 0 5px;
    width: 80px;
  }
}
